.w-50 {
  width: 50% !important;
}
/*-----------------------------------------------
|   Backgrounds
-----------------------------------------------*/
.bg-primary-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3011bc),
    to(#7e11bc)
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(57, 67, 77, 0)),
    to(#39424d79)
  );
  background: -o-linear-gradient(top, rgba(57, 67, 77, 0) 0%, #39424d79 100%);
  background: linear-gradient(180deg, rgba(57, 67, 77, 0) 0%, #39424d79 100%);
}

.bg-secondary-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#febe15),
    to(#fe7a15)
  );
  background: -o-linear-gradient(left, #febe15, #fe7a15);
  background: linear-gradient(90deg, #febe15, #fe7a15);
}

.bg-voyage-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(57, 67, 77, 0)),
    to(#39424d79)
  );
  background: -o-linear-gradient(top, rgba(57, 67, 77, 0) 0%, #39424d79 100%);
  background: linear-gradient(180deg, rgba(57, 67, 77, 0) 0%, #39424d79 100%);
}

.bg-offcanvas {
  position: relative;
}

.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  z-index: 1;
}

.bg-holder.bg-right {
  left: auto;
  right: 0;
}

.bg-holder.overlay:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tab-content {
  position: relative;
  top: 0;
}

.bg-holder.overlay-0:before {
  background: rgba(0, 0, 0, 0.7);
}

.bg-holder.overlay-1:before {
  background: rgba(0, 0, 0, 0.55);
}

.bg-holder.overlay-2:before {
  background: rgba(0, 0, 0, 0.4);
}

.bg-offcanvas-right {
  position: relative;
}

.h-100 {
  height: 100% !important;
}
.fit-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.border-md-0 {
  border: 0 !important;
}

.mx-xl-8 {
  margin-right: 3.5rem !important;
  margin-left: 3.5rem !important;
}

.my-8 {
  margin-top: 7.5rem !important;
  margin-bottom: 7.5rem !important;
}

.input-group-icon .input-box-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  color: #c5e0fa;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fs--1 {
  font-size: 0.83333rem !important;
}

.bg-holder .bg-youtube {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.display-3 {
  font-size: calc(1.4236rem + 2.08318vw);
  font-weight: 900;
  line-height: 1;
}
.text-1000 {
  color: #39434d !important;
}

.nav-tabs {
  border-bottom: 1px solid #c5e0fa;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #d9edff #d9edff #c5e0fa;
  isolation: isolate;
}

.nav-tabs .nav-link.disabled {
  color: #869db2;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fe7a15;
  background-color: #fffefe;
  border-color: transparent;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.voyage-tabs {
  border-bottom: 0;
}

.voyage-tabs .nav-link {
  border: 2px solid transparent;
  color: #607080;
}

.voyage-tabs .nav-link:hover,
.voyage-tabs .nav-link:focus {
  border-color: transparent;
}

.voyage-tabs .nav-link.active,
.voyage-tabs .nav-item.show .nav-link {
  border-bottom-color: #fe7a15;
}

@media (min-width: 1200px) {
  .display-3 {
    font-size: 2.98598rem;
  }
}
